@import '../../styles/settings';

.fact-component {
  width: span(11);
  text-align: center;
  margin: 0 auto;
  .factImg {
    width: span(5);
    margin-top: $base-font-size * 3;
  }
  .platformIcon {
    width: $base-font-size * 3;
    padding: 0 $base-font-size * 0.5;
    cursor: pointer;
  }
  span {
    color: $fourth-color;
  }
}

@include susy-breakpoint($first-breakpoint) {
}

@include susy-breakpoint($second-breakpoint) {
  .fact-component {
    width: span(6);
    display: table-cell;
    vertical-align: top;
    display: inline-block;
  }
}

@include susy-breakpoint($third-breakpoint) {

}

@include susy-breakpoint($fourth-breakpoint) {
  .fact-component {
    width: span(3);
  }
}

@include susy-breakpoint($fifth-breakpoint) {

}

@include susy-breakpoint($sixth-breakpoint) {
}