@import '../../styles/settings';

.fact-component {
  width: span(11);
  text-align: center;
  margin: 0 auto;
  .factImg {
    width: span(5);
    margin-top: $base-font-size * 3;
  }
  .google-play-icon, .app-store-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 $base-font-size * 0.5;
    transition: all 0.5s;
  }
  .google-play-icon {
    background: url('../../images/about/google-play-icon.svg') no-repeat;
  }
  .google-play-icon:hover {
    background: url('../../images/about/google-play-icon-hover.svg') no-repeat;
    transform: scale(1.1,1.1);
  }
  .app-store-icon {
    background: url('../../images/about/apple-store-icon.svg') no-repeat;
  }
  .app-store-icon:hover {
    background: url('../../images/about/apple-store-icon-hover.svg') no-repeat;
    transform: scale(1.1,1.1);
  }
  span {
    color: $fourth-color;
  }
}

@include susy-breakpoint($first-breakpoint) {
}

@include susy-breakpoint($second-breakpoint) {
  .fact-component {
    width: span(6);
    display: table-cell;
    vertical-align: top;
    display: inline-block;
  }
}

@include susy-breakpoint($third-breakpoint) {

}

@include susy-breakpoint($fourth-breakpoint) {
  .fact-component {
    width: span(3);
  }
}

@include susy-breakpoint($fifth-breakpoint) {

}

@include susy-breakpoint($sixth-breakpoint) {
}