@import '../../styles/settings';

.mainMenuLink {
  color: $primary-color;
  text-decoration: none;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.mainMenuLink:hover{
  background-color: #333333;
}

.active  {
  color: red;
}

@include susy-breakpoint($second-breakpoint) {
  .mainMenuLink {
    display: inline;;
  }
  .mainMenuLink:hover {
    background: inherit;
  }
}